@model List<Color>

@{
    ViewData["Title"] = "Index";
}
=

<div class="table-responsive pt-3">
    <a asp-controller="color" asp-action="create" style="color:white;font-size:20px" class="mb-3 btn btn-success">Create color object</a>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Settings
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (Color color in Model)
            {
                <tr>
                    <td>
                        @color.Id
                    </td>
                    <td>
                        @color.Name
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="detail">
                                <a asp-controller="Size" asp-action="Detail" asp-route-id="@color.Id" class="btn btn-primary"><i class="mdi mdi-details"></i></a>
                            </div>
                            <div class="edit">
                                <a asp-controller="Size" asp-action="Edit" asp-route-id="@color.Id" class="btn btn-warning">
                                    <i class="mdi mdi-tooltip-edit"></i>
                                </a>
                            </div>
                            <div class="delete">
                                <a asp-controller="Size" asp-action="Delete" asp-route-id="@color.Id" class="btn btn-danger"> <i class="mdi mdi-delete-forever"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

