@model List<Plant>
@{
    ViewData["Title"] = "Index";
}
<div class="table-responsive pt-3">
    <a asp-controller="Plant" asp-action="create" style="color:white;font-size:20px" class="mb-3 btn btn-success">Create plant object</a>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>
                   Image
                </th>
                <th>
                 Name
                </th>
             
                <th>
                   Price
                </th>

                <th>
                  Color
                </th>
                <th>
                    Settings
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (Plant plant in Model)
            {
                <tr>
                    <td>
                        <img style="width: 150px; height:90px" src="~/assets/images/website-images/@plant.PlantImages.FirstOrDefault(i=>i.IsMain==true).ImagePath" />
                    </td>
                    <td>
                        @plant.Name
                    </td>
                    <td>
                        @plant.Price
                    </td>
                    
                     
                     <td>
                        @plant.Color
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="detail">
                                <a asp-controller="Plant" asp-action="Detail" asp-route-id="@plant.Id" class="btn btn-primary"><i class="mdi mdi-details"></i></a>
                            </div>
                            <div class="edit">
                                <a asp-controller="Plant" asp-action="Edit" asp-route-id="@plant.Id" class="btn btn-warning">
                                    <i class="mdi mdi-tooltip-edit"></i>
                                </a>
                            </div>
                            <div class="delete">
                                <a asp-controller="Plant" asp-action="Delete" asp-route-id="@plant.Id" class="btn btn-danger"> <i class="mdi mdi-delete-forever"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>